@import url("paging.directive.css"); 
@import url("directive/post/post.directive.css"); 
/***
==========================================
                  Fonts
==========================================
***/

/*Ropoto*/
@import url("fonts/Roboto-fontFace.css");


/***
==========================================
            Global Settings
==========================================
***/
body{
     
      font-family: 'Roboto-Regular';
      background: #33ab83;
}





textarea.search-input {
    overflow: hidden;
    width: 100%;
    font-size: 22pt;
    color:lightslategrey;
    height: 100%;
    border: 2px solid #f0f;
    border-radius: 2px;
}

.search {
    width: 69px;
    transition: all .4s ease;
    border: 103px;
    height: 67px;
    border-radius: 74px;
}
.search:hover {
    width: 100%;
    /* height: inherit; */
    border: 103px;
    height: 77px;
    border-radius: 10px;
}




.search:hover {
    width: 100%;
    /* height: inherit; */
}
