
<div class="col-md-3"></div>
<div class="col-md-6 post-container"> 
    <!--Start Search Input-->
         <!--Start PostForm Card-->
        
    <div class="row  card search ">
                    <textarea 
                            ng-model="query.q"
                            ng-change="getPosts(query)"
                            class="search-input" 
                            maxlength="140"
                            placeholder="Search now =D">
                    </textarea>
                   
    </div>
    <!--End Search Input-->
    <div>
         <input  ng-change="getPosts(query)" ng-model="query._page" >
                    <input  ng-change="getPosts(query)" ng-model="query._limit" >
    </div>
 <loading></loading>
    <!--Start  Post-->
    <post ng-repeat="post in posts"></post>
    <!--End Posts-->
</div>
<div class="col-md-3"></div>

<paging></paging>